.show-img {
  object-fit: cover;
  // object-position: center;
  box-shadow: 1px 1px 5px grey;
  object-position: 50% 50%;
  position: relative;
}

.index-img {
  object-fit: cover;
  // object-position: center;
  object-position: 50% 50%;
  border-radius: 5px;
}

.pages-header {
  border-bottom: 1px solid grey;
  display:flex;
  justify-content: center;
  margin: 60px 50px 0 50px;
}
