<div class="pages-header">
  <h2 class="text-center m-5">My fridge</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-11" class="fridge">
      <div class="card-fridge bg-light" >
        <ul>
        <% @fridge_items.each do |item| %>
        <div class=" " >
          <li class= "fridge"><%= item.ingredient.name %></li>
        </div>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="text-center text-small">
  <%= link_to "Add to fridge", new_fridge_item_path, class: "btn-myplanner text-center mt-5" %>
</div>
