
<div class="d-flex flex-column align-items-center">
<div id="carouselhomepage" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 h-200" src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 h-200" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 h-200" src="https://greenhealthycooking.com/wp-content/uploads/2017/12/Clean-Eating-Meal-Plan.jpg" alt="Third slide">
    </div>
  </div>
</div>
</div>


<%= link_to 'My Fridge :)', fridge_items_path %>

  <h3 class="text-center">Start planning your recipes</h3>

<div class="d-flex flex-column align-items-center text-center">
  <div class="search-container-home">
    <form action="/planned_recipes/planner" method="post" class="recipe-form-home">
      <div><input type="integer" name="days" class="search-bar-home" placeholder="Days"></div>
      <div class="p-2"><input type="submit", class="search-ingredient-btn-home"></div>
    </form>
  </div>
</div>
