<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'My Fridge :)', fridge_items_path %>

<form action="/planned_recipes/planner" method="post">
   <input type="integer" name="days">
   <input type="submit">
</form>
