<%# style in navabar.scss %>
<div class="text-center ", id="logo-img">
  <%= link_to (image_tag("souschefupdated.png", alt:"SousChef", style:"width: 230px")), root_path%>
</div>

<div class="bg-color-recipe">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="search-container d-flex flex-column" id="recipe">
      <h3 class="text-center text-white align-items-start">Add your favourite recipes</h3>
      <%= link_to "", new_recipe_path, class: "stretched-link" %>
    </div>
  </div>
</div>

<div class="bg-color-fridge">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="search-container d-flex flex-column" id="fridge">
      <h3 class="text-center text-white align-items-start">Keep track of your fridge</h3>
      <%= link_to "", fridge_items_path, class: "stretched-link" %>
    </div>
  </div>
</div>

<div class="bg-color-friend">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="search-container d-flex flex-column" id="friend">
      <h3 class="text-center text-white align-items-start">Share your recipe with your friends</h3>
    </div>
  </div>
</div>
