<%# style in navabar.scss %>
<div class="text-center ", id="logo-img">
  <%= link_to (image_tag("logo.png", alt:"AirSea&Sea", style:"width: 150px")), root_path%>
</div>

<div class="bg-color-recipe">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="search-container d-flex flex-column" id="recipe">
      <h3 class="text-center text-white align-items-start">Start creating your favourite recipes</h3>
      <%# <%= link_to "", new_recipe_path, class: "stretched-link"%>
    </div>
  </div>
</div>

<div class="bg-color-fridge">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="search-container d-flex flex-column" id="fridge">
      <h3 class="text-center text-white align-items-start">Keep record of your ingredients and bla bla</h3>
      <%# <%= link_to "", fridge_items_path, class: "stretched-link"%>
    </div>
  </div>
</div>

<div class="bg-color-friend">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="search-container d-flex flex-column" id="friend">
      <h3 class="text-center text-white align-items-start">Share your recipe with your friends..maybe</h3>
    </div>
  </div>
</div>

  <h3 class="text-center mt-5">Not sure what to cook?</h3>
  <h5 class="text-center mt-5">Plan your meals based on the ingredients you have</h5>

<div class="d-flex flex-column align-items-center text-center">
  <div class="search-container d-flex flex-column" id="planner">
    <h5 class="text-center text-white align-items-start"></h5>
    <form action="/planned_recipes/planner" method="post" class="recipe-form-home">
      <div><input type="integer" name="days" class="search-bar-home" placeholder="Days"></div>
      <div class="p-2"><input type="submit", class="search-ingredient-btn-home"></div>
    </form>
  </div>
</div>
