<div class="form-container m-3">
  <div class="form">
    <%= simple_form_for [ post ] do |f| %>
      <%= f.association :recipe, collection: recipes, class:"text-left" %>
      <%= f.input :content, class:"text-left" %>
      <%= f.submit "Share what you cooked!", class: "search-ingredient-btn text-center mx-4" %>
    <% end %>
  </div>
</div>
