// ------ radio buttons -------
.form-check-label {
  color: navy;
  border: solid 1px navy;
  border-radius: 5px;
  padding: 4px 5px;
  padding-left: 10px;
  margin: 5px;
}

input[type="radio"] {
  color: pink;
  margin: 3px;
}

input[type="radio"]:checked + .form-check-label{
  background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(67,132,199,1) 0%, rgba(0,212,255,1) 100%);
  color: white;
  transition: ease 0.3s;
}
// ------ radio buttons -------

// ------ navbar buttons -------
.logoutbtn {
  border: solid 1px grey;
  padding: 5px 5px;
  border-radius: 30px;
  margin-top: 40px;
  width: 50%;
  margin: 30px auto;
}
// ------ navbar buttons -------

// ------ search bar MyFridge/new buttons -------
.search-ingredient-btn{
  border-radius: 5px;
  border: solid 1px navy;
  padding: 3px 30px;
  background-color: transparent;
}

.search-ingredient-btn:hover{
  background: linear-gradient(313deg, rgba(199,140,67,1) 0%, rgba(255,51,0,1) 0%, rgba(255,134,0,1) 67%);
  color: white;
  transition: ease 0.3s;
}
// ------ search bar MyFridge/new buttons -------

// ------ home buttons -------
.search-ingredient-btn-home{
  border-radius: 5px;
  color: black;
  border: none;
  padding: 10px 35px;
  background-color: white;
  font-weight: 500;
  margin-top: 20px;
}

.search-ingredient-btn-home:hover{
  transition: ease 0.3s;
  padding: 10px 39px;
  margin-top: 20px;
}
// ------ home buttons -------


// ----- recipe show page buttons -------

.button-post{
  margin: 50px;
}

.button-show{
  margin: 50px;
}

.btn-showpage {
    border: solid 1px grey;
    border-radius: 10px !important;
    margin-bottom: 20px;
    color: black !important;
    opacity: 0.7 !important;
}

.btn-myplanner {
  border: solid 1px grey;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 7px 20px!important;
  color: black;
  font-size: 14px;
  opacity: 0.7!important;
  display: inline;
}

.btn-myplanner:hover {
  opacity: 1;
}

.add-rcp-btn {
  display: inline-block;
  position: absolute;
  top: -8px;
  right: 0;
  opacity: 1!important;
}

.add-ing-btn {
  display: inline-block;
  position: absolute;
  opacity: 1!important;
}

.post-button {
  color: white;
  padding: 6px 20px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  font-size: 16px;
  color: black;
  background-color: white;
}

.post-button:hover {
  border: 1px solid black;
}


// ----- recipe show page buttons -------

// ----- general page buttons -------
.general-button-blue {
  background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(67,132,199,1) 0%, rgba(0,212,255,1) 100%);
  color: white;
  transition: ease 0.3s;
  padding: 6px 50px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.general-button-green {
  background:linear-gradient(132deg, #72ff71 0%, #16A085 100%);
  color: white;
  transition: ease 0.3s;
  padding: 6px 50px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.general-button-log-in {
  background:linear-gradient(132deg, #72ff71 0%, #16A085 100%);
  color: white;
  transition: ease 0.3s;
  padding: 2px 30px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.forgot-password-btn {
  background: linear-gradient(313deg, rgba(199,140,67,0.8) 0%, rgba(255,51,0,0.8) 0%, rgba(255,134,0,0.8) 67%);
  color: white;
  transition: ease 0.3s;
  border-radius: 10px;
  margin-top: 20px;
}

// ----- general page buttons -------


.select2-container--default .select2-selection--multiple .select2-selection__choice {

    background-color: rgb(242, 242, 242)!important;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.378);
    border-radius: 7px!important;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    color: orangered!important;
    border-right: none!important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 8px;
    position: absolute;
    left: 0;
    top: 0;
}


.btn-shoppinglist {
  border: solid 1px grey;
  border-radius: 10px;
  margin: 50px 10px;
  padding: 4px 10px!important;
  color: black;
  font-size: 16px;
  opacity: 0.7!important;
  display: inline;
}
