// ------ radio buttons -------
.form-check-label {
  color: navy;
  border: solid 1px navy;
  border-radius: 5px;
  padding: 4px 5px;
  padding-left: 10px;
  margin: 5px;
}

input[type="radio"] {
  color: pink;
  margin: 3px;
}

input[type="radio"]:checked + .form-check-label{
  background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(67,132,199,1) 0%, rgba(0,212,255,1) 100%);
  color: white;
  transition: ease 0.3s;
}
// ------ radio buttons -------

// ------ navbar buttons -------
.logoutbtn {
  border: solid 1px grey;
  padding: 5px 5px;
  border-radius: 30px;
  margin-top: 40px;
}
// ------ navbar buttons -------

// ------ search bar MyFridge/new buttons -------
.search-ingredient-btn{
  border-radius: 5px;
  border: solid 1px navy;
  padding: 10px 60px;
  background-color: transparent;
}

.search-ingredient-btn:hover{
  background: linear-gradient(313deg, rgba(199,140,67,1) 0%, rgba(255,51,0,1) 0%, rgba(255,134,0,1) 67%);
  color: white;
  transition: ease 0.3s;
}
// ------ search bar MyFridge/new buttons -------

// ------ home buttons -------
.search-ingredient-btn-home{
  border-radius: 5px;
  color: black;
  border: none;
  padding: 10px 35px;
  background-color: white;
  font-weight: 500;
  margin-top: 20px;
}

.search-ingredient-btn-home:hover{
  transition: ease 0.3s;
  padding: 10px 39px;
  margin-top: 20px;
}
// ------ home buttons -------


// ----- recipe show page buttons -------


.button-show{
  margin: 50px;
}

.btn-showpage {
  border: solid 1px grey;
  border-radius: 10px;
  margin-bottom: 20px;
  padding:7px 50px;
  color: black!important;
  opacity: 0.7!important;
}

.btn-myplanner {
  border: solid 1px grey;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 7px 20px!important;
  color: black;
  font-size: 14px;
  opacity: 0.7!important;
  display: inline;
}

.btn-myplanner:hover {
  opacity: 1;
}

.add-rcp-btn {
  display: inline-block;
  position: absolute;
  top: 85px;
  right: 0;
  opacity: 1!important;
}

// ----- recipe show page buttons -------

// ----- general page buttons -------
.general-button-blue {
  background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(67,132,199,1) 0%, rgba(0,212,255,1) 100%);
  color: white;
  transition: ease 0.3s;
  padding: 6px 50px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.general-button-green {
  background:linear-gradient(132deg, #72ff71 0%, #16A085 100%);
  color: white;
  transition: ease 0.3s;
  padding: 6px 50px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.general-button-log-in {
  background:linear-gradient(132deg, #72ff71 0%, #16A085 100%);
  color: white;
  transition: ease 0.3s;
  padding: 2px 30px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.forgot-password-btn {
  background: linear-gradient(313deg, rgba(199,140,67,0.8) 0%, rgba(255,51,0,0.8) 0%, rgba(255,134,0,0.8) 67%);
  color: white;
  transition: ease 0.3s;
  border-radius: 10px;
  margin-top: 20px;
}
