.content {
  display: flex;
  flex-wrap: wrap;
}
.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 40px;
  max-height: 60px;
}

@include media-breakpoint-down(md) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@include media-breakpoint-down(sm) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  justify-content: space-between;
  // background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://source.unsplash.com/random?food');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
}

.card-text {
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.recipe-card {
  border: solid 1px rgb(219, 219, 219);
  border-radius: 5px;
  position: relative;
}

.friend-card {
  border-radius: 5px;
  border: solid 1px navy;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: transparent;
  display: inline-block;
}

.friend-card img {
  margin-bottom: 3px;
}

.fa-user-minus {
  font-size: 16px;
}
