.content {
  display: flex;
  flex-wrap: wrap;
}
.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 40px;
  max-height: 60px;
}

@include media-breakpoint-down(md) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@include media-breakpoint-down(sm) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://www.spadellandia.it/upload/ricette/Spiedini-alle-tre-carni-con-verdure_4510.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
}
