.fridge {
  font-family: 'Mulish', serif;
  width: 100%;
  // border-radius: 5px;
  // background: rgba(255, 246, 246, 0.7);
  position: relative;
  // height: 230px;
  margin: 7% auto 15px auto;
  padding-bottom: 35px;
}

.card-fridge {
  font-size: 10px ;
  padding: 10px;
  margin-bottom: 20px;
}

.fridge-list ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.fridge-list li {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
