.fridge {
  font-family: 'Architects Daughter', cursive;
  width: 100%;
  // border-radius: 5px;
  background: rgba(255, 246, 246, 0.7);
  position: relative;
  // height: 230px;
  margin: 7% auto 15px auto;
}
.fridge li {
  font-size: 55px ;
}
