// .navbar{
//   position: sticky!important;
// }

.navbar-souschef {
  justify-content: space-between;
  transition: ease 0.3s;
  height: 50px;
  padding-bottom: 40px!important;
  z-index: 2;
  margin-bottom: 10px;
  background-color: white!important;
}

#logo-img{
  margin-top: 70px;
  margin-bottom: 30px;
}

  .navbar-collapse {

  position: fixed;
  top: 0px;
  left: 0;
  padding: 100px 15px 15px 15px;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.444);
  }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

.navbar-toggler {
  color: black !important;
  font-size: 20px;
  font-weight: bold;
}

.navbar-toggle {
  border: none;
  color: black !important;

  &:hover {
    background: transparent !important;
  }
}

li {
  padding-top: 10px;
}

// .header-block {
//     z-index: 1;
//     padding: 24px;
//     background-color: rgba(63, 56, 41, 0.5);
//     border-bottom-right-radius: 20px;
//     border-bottom-left-radius: 20px;
//     box-shadow: 1px 1px 5px gray;
//     background-image: url('https://designmodo.com/wp-content/uploads/2015/07/11-40-Food-Icons-PSD-by-Graphics-Bay-Team.jpg');
//     background-blend-mode: darken;
// }

a {
  color: black;
  opacity: 1;
  font-size: 23px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

a:hover {
  color: black !important;
  opacity: 1;
  text-decoration: none;
}


.pos-f-t ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
