.planner-day {
  width: 100%;
  padding: 15px 30px;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  opacity: 0.6;
}

.planner-day:hover {
  opacity: 1;

}

.planner-card {
  padding: 10px;
  padding-top: 10px;
}


.content-planner {
  margin: 15px 30px;
}

.form-control {
  border-radius: 10px;
}

#planned_recipe_recipe_id {
  height: 45px;
}
