.recipe {
  padding: 40px;
}

// input#query.form-control {
//   margin-top: 40px
// }

.text-small {
  font-size: 16px;
  text-decoration: none;
}

.show-review a {
  text-decoration: none;
  color:rgba(67,132,199,1);
}
