<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@recipe, @review] do |f| %>
        <%= f.input :comment, as: :text %>
        <%= f.input :rating, collection: (1..5).to_a, class: "col-4 mx-auto", label: "What do you think of this recipe?" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>
